---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const artPost = await getCollection("artPosts");
const pageTitle = "Art Gallery";
---

<BaseLayout pageTitle={pageTitle}>

<p>Here's art I've drawn.  Each art post will have some yapping about my thought process in the individual page.</p>
		<section class="art-gallery">
		{
			artPost.toReversed().map((post) => (
				<figure>
					<a href={`/art/${post.id}`} title="">
						<Image src={post.data.img} alt={post.data.imgAlt} data-is-nsfw={post.data.nsfw} quality="max" width="500" format="png">
					</a>
					<a href={`/art/${post.id}`}><h2>{post.data.title}</h2></a>
					
					<p>{post.data.pubDate.toLocaleDateString()}</p>

					<p class="description">{post.data.description}</p>
				</figure>
			))
		}
		</section>
</BaseLayout>

<style>

.art-gallery {
	display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	gap:1em;
  img {
    object-fit: cover;
	aspect-ratio: 1/1;
  }
  p {
	margin: 0;
  }
}

figure {
	display:flex;
	flex-direction: column;
}

h2 {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
margin: 0;
}
.description {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 10px;
}

.blur-nsfw {
        filter: blur(5px);
    }



</style>

<script>
    const nsfwAll = document.querySelectorAll("[data-is-nsfw=true]");
    nsfwAll.forEach((nsfwImg) => {
            nsfwImg.classList.add("blur-nsfw");
    });
</script>