---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "About";

const band = {
  members: ["John Redcorn", "Dale Gribble", "Lucky Kleinschmidt", "Elvin Mackelston"],
  location: "Arlen, Texas",
  genre: "heavy metal",
  role: ["lead vocalist, acoustic guitarist, songwriter", "manager, tambourine, merch booth babe", "lead guitar (Until Season 13)", "rhythm guitar"],
};

const songs = ["Hole in My Pocket", "I Need Money", "Gotta Get Money", "Reaper of Souls"];

const construction = true;
const members = 4;
---

<BaseLayout pageTitle={pageTitle}>

{construction && <p>This page is under construction.</p>}



        <p>Big Mountain Fudgecake was a legendary {band.genre} band from {band.location}.  Formed in 2003, they lasted until the summer of 2005.  With John Redcorn as their visionary, their songs tackled socially conscious topics like money, the lack of money, personal hygiene, and wanting to die because the white man is oppressing all of us.  The manager Dale Gribble marketed them band as "Deep Purple meets Bachman-Turner-Overdrive meets ELO", as well as "Whitesnake meets White Lion meets Great White".  They broke up after 2 gigs, due to infighting on the musical direction of the band. 
            
            <h2>Band Members:</h2>

  {band.members.length >= 2 &&
    <ul>{members === 4 ? <p>The band had 4 members</p> : <p>The band did not have 4 members</p>}
        <li>{band.members[0]} - {band.role[0]}</li>
        <li>{band.members[1]} - {band.role[1]}</li>
        <li>{band.members[2]} - {band.role[2]}</li>
        <li>{band.members[3]} - {band.role[3]}</li>
        
        </ul>
  }

  <p>There was no bassist or drummer, though their songs have empty spaces for drum solos.

<h2>Songs:</h2>

{songs.map((song) => <li>{song}</li>)}


</BaseLayout>