---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "About";

const band = {
  members: ["John Redcorn", "Dale Gribble", "Lucky Kleinschmidt", "Elvin Mackelston"],
  location: "Arlen, Texas",
  genre: "heavy metal",
  role: ["lead vocalist, acoustic guitarist, songwriter", "manager, tambourine, merch booth babe", "lead guitar (Until Season 13)", "rhythm guitar"],
};

const songs = ["Hole in My Pocket", "I Need Money", "Gotta Get Money", "Reaper of Souls"];

const construction = false;
const members = 4;
---

<BaseLayout pageTitle={pageTitle}>

{construction && <p>This page is under construction.</p>}

<figure><img src="/img/about/bmf band.jpg" alt="Big Mountain Fudgecake band at the grand opening."></figure>

        <p>Big Mountain Fudgecake was a legendary {band.genre} band from {band.location}.  Formed in 2003, they lasted until the summer of 2005.  With John Redcorn as their visionary, their songs tackled socially conscious topics like money, the lack of money, personal hygiene, and wanting to die because the white man is oppressing all of us.  The manager Dale Gribble marketed them band as "Deep Purple meets Bachman-Turner-Overdrive meets ELO", as well as "Whitesnake meets White Lion meets Great White".  They broke up after 2 gigs, due to infighting on the musical direction of the band. 
            
            <h2>Band Members:</h2>

  {band.members.length >= 2 &&
    <ul>{members === 4 ? <p>The band had 4 members</p> : <p>The band did not have 4 members</p>}
        <li>{band.members[0]} - {band.role[0]}</li>
        <li>{band.members[1]} - {band.role[1]}</li>
        <li>{band.members[2]} - {band.role[2]}</li>
        <li>{band.members[3]} - {band.role[3]}</li>
        
        </ul>
  }

  <p>There was no bassist or drummer, though their songs have empty spaces for drum solos.

<h2>Songs:</h2>
<ul>
{songs.map((song) => <li>{song}</li>)}
</ul>

<h2>Gigs:</h2>
<ul>
  <li>S7E23 - May 18, 2003 - John Redcorn's New Age Healing Center (Every Friday)</li>
  <li>S9E11 - April 10, 2005 - Maria's Pizza and Pasta (cancelled)</li>
  <li>S9E11 - April 10, 2005 - Speaking Wind Casino and Entertainment Center (cancelled due to government agents)</li>
  <li>S9E11 - April 10, 2005 - Strickland Propane Family Fun Day</li>
  <li>S13E2 - October 5, 2008 - Strickland Propan Concert For The Earth (opener)</li>
</ul>

<figure><img src="/img/about/bmf gig.jpg" alt="Big Mountain Fudgecake band at the grand opening."></figure>

<h2>Nerd shit:</h2>
<p>This site was built in a day to see if I could learn how to <a href="https://wiki.scumsuck.com/blog:2025:0917astro_attempt">use Astro to build a website</a>.  I guess I succeeded since this site is up!  Astro was mostly useful so I don't have to copy/paste the layout on each page.
<p>The layout of this site, concept of this site, and background images and border images are inspired by the <a href="https://web.archive.org/web/20070112002150/http://www.metalsludge.tv/home/index.php">old Metal Sludge pages.</a></p>
<p>All screenshots on this site are from the English dub of King of the Hill.</p>

</BaseLayout>