---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "BMF UNOFFICIAL FANSITE";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

---
<BaseLayout pageTitle={pageTitle}>

      <img src="/img/john-redcorn-productions-88x31.gif" alt="John Redcorn Productions gif with his hair blowing majestically">

Welcome to the UNOFFICIAL fansite for BIG MOUNTAIN FUDGECAKE.  We will goon about John Redcorn here with images, writing, and other forms of worship.
<h2>News & updates:</h2>

<ul class="updates">
      {allPosts.toReversed().map((post: any) => <li><a href={post.url} class="date"> {post.frontmatter.pubDate.toString().slice(0,10)}</a> 
      <a href={post.url} class="updates-right"><div class="title">{post.frontmatter.title}</div> <div class="description">{post.frontmatter.description}</div></a> 
      </li> )}
</ul>

</BaseLayout>